{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Mon panier{% endblock %}

{% block carousel %}
    <br><br>
{% endblock %}


{% block content %}
    <h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajoutés au panier.
    {# {{ dump(cart) }} #}
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% set total = null %}
            {% for prod in cart %}
                <tr>
                    <th>
                        <img src="uploads/{{ prod.product.illustration }}" height="75px" alt="{{ prod.product.name }}">
                    </th>
                    <td>
                        {{ prod.product.name }}<br>
                        <small>{{ prod.product.subtitle }}</small>
                    </td>
                    <td>{{ prod.quantity }}</td>
                    <td>{{ (prod.product.price /100)|number_format(2,',','.') }} €</td>
                    <td>{{ ((prod.product.price * prod.quantity) /100)|number_format(2,',','.') }} €</td>
                </tr>
                {% set total = total + (prod.product.price * prod.quantity) %}
            {% endfor %}
        </tbody>
        
    </table>
    <div class="text-right mb-5">
        <b>Nombre d'articles : </b>{{ cart|length }}<br>
        <b>Total de mon panier : </b>{{ (total /100)|number_format(2,',','.') }} €<br><br>
        <a href="" class="btn btn-success">Valider mon panier</a>
    </div>
{% endblock %}
