{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Nos produits{% endblock %}

{% block carousel %}
    <br><br>
{% endblock %}


{% block content %}
    <div class="row">
        {# Filtre #}
        <div class="col-md-3">
            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>
        {# Affichage des produits #}
        <div class="col-md-9">
            <h1>Nos produits</h1>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="product-item text-center">
                            <a href="{{path('app_oneproduct', { 'slug' : product.slug }) }}"><img src="uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"></a>
                            <a href="{{path('app_oneproduct', { 'slug' : product.slug }) }}"><h3>{{ product.name}}</h3></a>
                            <span class="product-subtitle">{{product.subtitle}}</span>
                            
                            <span class="product-price">{{(product.price /100)|number_format(2,',','.')}} €</span>
                        </div>
                        {# {{dump(product)}} #}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    

{% endblock %}
