{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Valider ma commande{% endblock %}

{% block carousel %}
    <br><br>
{% endblock %}


{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande sur MCMC.</p>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6">
            {% set formHtml %}
                {{ form(form) }}
            {% endset %}
                {{ formHtml|replace({'[br]' : '<br>'})|raw }}
        </div>
        <div class="col-12 col-md-6">
            <b>Récap de ma commande</b><br>
            {% for prod in cart %}
                <div class="row">
                    <div class="col-12 col-4"></div>
                    <div class="col-12 col-4"></div>
                </div>
                <img src="uploads/{{ prod.product.illustration }}" height="75px" alt="{{ prod.product.name }}">
                x {{ product.quantity }}
            {% endfor %}
            <b>Bouton pour payer</b>
        </div>
    </div>
{% endblock %}
